<div class="container">  
  <h1>All you need to know to go low...</h1>

  <div class="card d-flex flex-row justify-content-around p-3">
    <div class="card-block">
      <h4 class="card-title">{{competition.title}}</h4>
      <h4 class="card-title">{{competition.description}}</h4>
      <h4 class="card-title">{{competition.golf_course.title}}</h4>
      <h4 class="card-title">{{competition.competition_type.title}}</h4>
      <p class="card-text">{{competition.date | date}} at {{competition.time | date:"h:mma"}} </p>

  	<a href= "#!/participant/signup/{{competition.id}}"><button type="button" class="btn btn-success">Sign Up</button></a><br><br>

    <div ng-show="competition.user_id === currentUserId">
      <a href= "#!/competition/{{competition.id}}"><button type="button" class="btn btn-warning btn-sm">Edit Event</button></a>
      <button type="button" class="btn btn-danger btn-sm" ng-click="deleteCompetition(competition.id)">Delete Event</button>
    </div>

    </div>
    <div ng-hide="averageOfScores">
      <h4>No golfers have signed up for this yet, call your friends.</h4>
    </div>
    <div ng-show="averageOfScores">
      <h4>{{countOfScores}} entrants</h4>

      <h4>Average Score of Entrants: <strong>{{averageOfScores}}</strong></h4>
      <h5>Too high? Too low?</h5>
      <h5><a class="" href="#!/competitionmap">Find Another Competition</a></h5>
    </div>
  </div>

  <div id="mapid"></div>
</div>