<h1>Here are competition details.</h1>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{competition.title}}</h4>
    <h4 class="card-title">{{competition.description}}</h4>
    <h4 class="card-title">{{competition.golf_course.title}}</h4>
    <h4 class="card-title">{{competition.competition_type.title}}</h4>
    <p class="card-text">{{competition.date | date}}</p>
    <p class="card-text">{{competition.time}}</p>
    <a ng-href="#!/details/{{competition.id}}" class="card-link">Sign Up</a>
  </div>
</div>

<div id="mapid"></div>
