<h1>{{headline}}</h1>

<center>
    <div class="form-group">
        <input class="loginInput form-control form-control-lg" placeholder="Name of Event" type="text" autofocus="true" ng-model="competition_details.title">

		<br>
        <input class="loginInput form-control form-control-lg" placeholder="Description" type="text" autofocus="true" ng-model="competition_details.description">

		<br>
        Select a Golf Course:
		<select id="golfCourse" ng-model="competition_details.golf_course_id">
			<!-- <option disabled value>Pick a Golf Course</option> -->
			<option ng-repeat="course in golfCourses" ng-selected="competition_details.golf_course.id == course.id" value="{{course.id}}">{{course.title}}</option> 
		</select>


		<br><br>
        Select a Competition Format:
		<select id="competitionType" ng-model="competition_details.competition_type_id">
			<!-- <option disabled value>Competition Type</option> -->
			<option ng-repeat="competitionType in competitionTypes" ng-selected="competition_details.competition_type.id == competitionType.id" value="{{competitionType.id}}">{{competitionType.title}}</option> 
		</select>
		

        <br><br>
        <input class="loginInput form-control form-control-lg" placeholder="Date" type="date" autofocus="true" ng-model="competition_details.date">

        <br>
        <input class="loginInput form-control form-control-lg" placeholder="Time" type="time" autofocus="true" ng-model="competition_details.time">

        <br>
        <input class="loginInput form-control form-control-lg" placeholder="Entry Fee" type="text" autofocus="true" ng-model="competition_details.entry_fee">

        <br>
        <input class="loginInput form-control form-control-lg" placeholder="Contact Email" type="text" autofocus="true" ng-model="competition_details.contact_email">

        <br>
        <div class="buttons">
        	<button ng-click="submitCompetition()" type="button" class="btn btn-outline-success btn-block">Add Event</button>
    	</div>


    </div>
</center>