<div id="backgroundimg">
	<!-- <div class="signInGreen"> -->
		<div id="welcomeBox">
			<div class="welcomeText">Welcome to Scramble</div>
			<div class="loginFormContainer">
				<center>
				    <div class="form-group">
				        <input class="loginInput form-control form-control-lg" placeholder="Email" type="text" autofocus="true" ng-model="creds.email">

				        <br>
				        <input class="loginInput form-control form-control-lg" placeholder="Password" type="password" ng-model="creds.password">
				        <br>
				        <div class="buttons">
				        	<button ng-click="logIn()" type="button" class="btn btn-outline-success btn-block">LOGIN</button>
				    	</div>

				    </div>
				</center>
			</div>
			<a href="#!/signup">Register</a>
		</div>
</div>
	<!-- </div> -->



