<h1>Sign Up</h1>

<center>
    <div class="form-group">
        <input class="loginInput form-control form-control-lg" placeholder="First Name" type="text" autofocus="true" ng-model="account.first_name">

		<br>
        <input class="loginInput form-control form-control-lg" placeholder="Last Name" type="text" autofocus="true" ng-model="account.last_name">

		<br>
        <input class="loginInput form-control form-control-lg" placeholder="City" type="text" autofocus="true" ng-model="account.city">

		<br>
        <input class="loginInput form-control form-control-lg" placeholder="State" type="text" autofocus="true" ng-model="account.state">

		<br>
        <input class="loginInput form-control form-control-lg" placeholder="Postal Code" type="text" autofocus="true" ng-model="account.postal_code">

		<br>
        <input class="loginInput form-control form-control-lg" placeholder="Email" type="text" autofocus="true" ng-model="account.email">

        <br>
        <input class="loginInput form-control form-control-lg" placeholder="Password" type="password" ng-model="account.password">

        <br>
        <input class="loginInput form-control form-control-lg" placeholder="Confirm Password" type="password" ng-model="account.password_confirmation">

        <br>
        <div class="buttons">
        	<button ng-click="submitUser()" type="button" class="btn btn-outline-success btn-block">Register</button>
    	</div>


    </div>
</center>