<h3>View your payment types</h3>

<div ng-repeat="paymentType in paymentTypes">
	<div class="card">
	  <div class="card-block">
	    {{paymentType.title}} | {{paymentType.card_number}} | <a href="#!/account" ng-click="deletePaymentType(paymentType.id)">Delete</a> | <a href= "#!/paymentType/{{paymentType.id}}">Edit</a>
	  </div>
	</div>
</div>
<a href="#!/new_payment" >Add Payment Type</a>



<h3>Your Upcoming Competitions</h3>
<div ng-repeat="competition in upcomingCompetitions">
	<div class="card">
	  <div class="card-block">
	    {{competition.title}} | {{competition.date}} | {{competition.time}} | <a ng-href="#!/details/{{competition.id}}">Details</a>
	  </div>
	</div>
</div>


<h3>Competitions you've organized</h3>

<div ng-repeat="competition in plannedCompetitions">
	<div class="card">
	  <div class="card-block">
	    {{competition.title}} | {{competition.date}} | {{competition.time}} | <a ng-href="#!/details/{{competition.id}}">Details</a>
	  </div>
	</div>
</div>