#mapid { 
	height: 230px; 
	margin-bottom: 2rem;

}

#allCompetitionsMap { 
	height: 500px;
}

.signInGreen {
	background: linear-gradient(132deg, #80ff80, #004d00);
	background-size: 400% 400%;
	height: 800px;
}



#welcomeBox {
	display:block;
	margin: 0 auto;
	padding-top: 200px;
	text-align:center;
}


#welcomeText {
	font-family: 'Kaushan Script', cursive;
	font-size: 80px;
}

.loginFormContainer{
	display:block;
	margin: 0 auto;
	padding-top: 200px;
	width: 40%;
}

.competitionFormContainer{
	display:block;
	margin: 0 auto;
	width: 60%;
	padding-top: 25px;
}

.paymentFormContainer{
	display:block;
	margin: 0 auto;
	width:60%;
	padding-top: 25px;
}

.user-detail-headings{
	font-size: 35px;
}

.card {
	margin-bottom: 1rem;
}

.card-block {
	width: 50%;
	padding-top: 0px;
}



